{
    "branches": 75,
    "cache": true,
    "check-coverage": true,
    "exclude": [
        "**/dist/tests/**"
    ],
    "extension": [
        ".ts",
        ".tsx"
    ],
    "functions": 75,
    "instrument": true,
    "lines": 75,
    "reporter": [
        "lcov",
        "text"
    ],
    "sourceMap": true,
    "statements": 75
}
